{% extends "two_columns.html" %}



{% block meta_title %}
  Контакты
{% endblock %}

{% block meta_keyword %}
  Контакты
{% endblock %}

{% block meta_description %}
 Контакты
{% endblock %}


{% block page_title %}Контакты{% endblock %}
{% block page_slogan %}{% endblock %}




{% block main_content %}
    <div class="et-box et-shadow" align="center" style="padding: 20px">
<form method="post" action="{% url 'contact_form' %}" class="form_class">
  {% csrf_token %}


                       <p>
                        <label>{{ form.name.label_tag }}</label>
                        {{ form.name }}
                    </p>
                        <p>
                        <label>{{ form.email.label_tag }}</label>
                        {{ form.email }}
                    </p>

                        <p>
                                              <label></label>

                        {{ form.body }}
                    </p>

  <input type="submit" value="оставить отзыв" />
</form>
    </div>
{% endblock %}