{% extends "two_columns.html" %}
{% load get_range %}
{% load thumbnail %}
{% block page_title %}Моя корзина{% endblock %}
{% block page_slogan %}проверте пожалуйста ваш заказ{% endblock %}

{% block breadcrumbs %}
     <a href="{% url 'home' %}">Главная</a>
        <span class="raquo">»</span>
         <a href="{% url 'category_list' %}">  Каталог продуктов</a>
         <span class="raquo">»</span>
         Моя корзина
{% endblock %}

{% block main_content %}


<form action="{% url 'basket_show' %}" method="post">
{{ form.non_field_errors }}
  <table border="1">
  <tr>
      <th>Наименование</th>
      <th>Цена</th>
      <th>Количество</th>
      <th>Действие</th>
  </tr>
   {% for b in basket %}
     <tr>
       <td> {{ b.good.name }}  {{ b.name }} </td>
       <td>{{ b.cost }} руб</td>
       <td>
          <input type="hidden" name="idp[]" value="{{ b.id }}">
          <select name="cnt[]">
              {% for i in 201|get_range %}
                  <option {% if b.cnt == i %} selected {% endif %} value="{{ i }}">{{ i }}</option>
              {% endfor %}
          </select>
       </td>
       <td><a href="{% url 'basket_pop' b.id  %}">Удалить</a></td>
     </tr>
    {% endfor %}
  </table>

   <div>
        {{ form.name.errors }}
        <label for="id_subject">ФИО:</label>
        {{ form.name }}
   </div>

   <div>
        {{ form.email.errors }}
        <label for="id_subject">Email:</label>
        {{ form.email }}
   </div>

   <div>
        {{ form.phone.errors }}
        <label for="id_subject">Телефон:</label>
        {{ form.phone }}
   </div>

   <div>
        {{ form.city.errors }}
        <label for="id_subject">Город:</label>
        {{ form.city }}
   </div>

   <div>
        {{ form.address.errors }}
        <label for="id_subject">Адрес:</label>
        {{ form.address }}
   </div>

   <div>
        {{ form.description.errors }}
        <label for="id_subject">Комментарий:</label>
        {{ form.description }}
   </div>



   <div >
        Регистрировать?
       <input type="checkbox" onclick="$('#reg_block').toggle('slow');" >
   </div>

   <div id="reg_block" style="display: none">
   <div>
        {{ form.login.errors }}
        <label for="id_subject">Логин:</label>
        {{ form.login }}
   </div>


   <div>
        {{ form.password.errors }}
        <label for="id_subject">Пароль:</label>
        {{ form.password }}
   </div>
   </div>


   <p><input type="submit" value="Сохранить" /></p>

</form>

{% endblock %}
