{% extends "two_columns.html" %}
{% load sekizai_tags %}
{% load staticfiles %}
{% load thumbnail %}
{% block page_title %}{{ good.name }}{% endblock %}
{% block page_slogan %}{% endblock %}


{% block breadcrumbs %}
     <a href="{% url 'home' %}">Главная</a>
        <span class="raquo">»</span>
         <a href="{% url 'category_list' %}">  Каталог продуктов</a>
         <span class="raquo">»</span>
         <a href="{{ good.category.get_absolute_url }}"> {{ good.category.name }}</a>
         <span class="raquo">»</span>
        {{ good.name }}
{% endblock %}

{% block main_content %}



{% addtoblock "css" %}
<link rel="stylesheet" href="{% static 'django_bootstrap_wysiwyg/css/bootstrap-wysiwyg.css' %}" type="text/css" media="screen" />
{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript" src="{% static 'django_bootstrap_wysiwyg/js/bootstrap-wysiwyg.js' %}"></script>
{% endaddtoblock %}


   <table>
     <tr>
         <td valign="top">
              {% thumbnail good.image "237x237" format='PNG' as im  %}
                 <div style="align: right">
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="left" title="{{ c.name }}" style="padding: 10px">
                </div>

              {% endthumbnail %}
         </td>

         <td valign="top">
            {% if  good.ammount %}
            <p><b>Количество:</b>&nbsp; <span style="color: #4BA55E; font-size: 14; font-weight: bold">{{ good.ammount }}</span></p>
            {% endif %}
              {% if good.mshopgoodspositions_set.all.count > 1 %}
              <ul class="basket_list">
                 {% for p in good.mshopgoodspositions_set.all %}
                   <li>
                       <span style="float: left; font-weight: bold; width: 100px;">{{ p.name }}&nbsp;</span>
                       <a class="price-tag et-shop-item" href="{% url 'good_put' p.pk %}">{{ p.cost|floatformat:"1" }}</a>
                       <span style="float: left">руб/кг&nbsp;</span>   {{ p.descr }}
                       <a href="{% url 'good_put' p.pk %}" >Положить в корзинку</a>
                   </li>
                 {% endfor %}
               </ul>
              {% else %}
                  {% for p in good.mshopgoodspositions_set.all %}
                 <p>
                      <b>Стоимость:</b> <span style="color: #4BA55E; font-size: 14; font-weight: bold">{{ p.cost|floatformat:"1" }}
                       руб/кг&nbsp</span>
                     <p style="color: #4BA55E; font-size: 14; font-weight: bold">{{ p.descr }}</p>
                </p>
                <a class="single-addtocart et-shop-item" style="font-size: 18px; width: 250px" href="{% url 'good_put' p.pk %}">В корзину</a>
                  {% endfor %}
              {% endif %}

         </td>
     </tr>
   </table>



{{ good.description | safe }}


    {% for c in comments %}
     <div>

        <p>
            {{ c.comment | linebreaks }}
        </p>

       <div style="text-align: right; margin-right: 20px; font-weight: bold"><i>{{ c.author }}</i></div>

     </div>

    {% endfor %}

        <a name="form"></a>
    <h1>Оставить комментарий</h1>
        {% if alert %}

        <ul class="messages">
                            {% for message in messages %}
                                <li class="errornote">
                                   {{ alert }}
                                </li>
                            {% endfor %}
                            </ul>

    {% endif %}

    <div class="et-box et-shadow">
       <div class="et-box-content">
            <form action="{% url 'good_show' good.pk %}#form" method="post" class="form_class">{% csrf_token %}
                  {{ form.good_id }}


                   <p>
                        <label style="text-align: left">Имя</label>
                        {{ form.name.errors }}
                        {{ form.name }}
                    </p>


                   <p>
                    <label style="text-align: left">Сообщение</label>
                        {{ form.message.errors }}
                        {{ form.message }}
                    </p>

                                   <p>
                    <label style="text-align: left">Защитный код</label>
                        {{ form.captcha.errors }}
                        {{ form.captcha }}
                    </p>

             <input type="submit" value="Сохранить" />
            </form>
       </div>
    </div>


{% endblock %}
