{% extends "two_columns.html" %}
{% load thumbnail %}
{% block page_title %}{{ good.name }}{% endblock %}
{% block page_slogan %}{% endblock %}


{% block breadcrumbs %}
     <a href="{% url 'home' %}">Главная</a>
        <span class="raquo">»</span>
         <a href="{% url 'category_list' %}">  Каталог продуктов</a>
         <span class="raquo">»</span>
         <a href="{{ good.category.get_absolute_url }}"> {{ good.category.name }}</a>
         <span class="raquo">»</span>
        {{ good.name }}
{% endblock %}

{% block main_content %}
   <table>
     <tr>
         <td valign="top">
              {% thumbnail good.image "237x237" format='PNG' as im  %}
                 <div style="align: right">
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="left" title="{{ c.name }}" style="padding: 10px">
                </div>

              {% endthumbnail %}
         </td>

         <td valign="top">
              <ul class="basket_list">
     {% for p in good.mshopgoodspositions_set.all %}
       <li> <span style="float: left; font-weight: bold; width: 100px;">{{ p.name }}&nbsp;</span>  <a class="price-tag et-shop-item" href="{% url 'good_put' p.pk %}">{{ p.cost|floatformat:"1" }}</a> <span style="float: left">руб/кг&nbsp;</span>   {{ p.descr }} <a href="{% url 'good_put' p.pk %}" >Положить в корзинку</a></li>
     {% endfor %}
    </ul>
         </td>
     </tr>
   </table>



{{ good.description | safe }}


{% endblock %}
