{% extends "two_columns.html" %}
{% block meta_title %}
  Подтверждение заказа
{% endblock %}



{% load thumbnail %}
{% block page_title %}Подтвердите Ваш заказ{% endblock %}
{% block page_slogan %}{% endblock %}
{% load multiply %}

{% block breadcrumbs %}
     <a href="{% url 'home' %}">Главная</a>
        <span class="raquo">»</span>
         <a href="{% url 'category_list' %}">  Каталог продуктов</a>
         <span class="raquo">»</span>
           Мой заказ

{% endblock %}

{% block main_content %}
      <h2>Информация о заказе</h2>
            <table width="100%" class="table_style">
              <tr>
                  <th>Товар</th>
                  <th>Цена</th>
                  <th>Количество</th>
                  <th>Стоимость</th>
              </tr>
               {% for p in o.mshopbasketpositions_set.all  %}

                   <tr>
                     <td>{{ p.position.good.name }}  {{ p.position.name }} </td>
                     <td> {{ p.position.cost }} руб/{{ p.position.good.masure }}</td>
                     <td>{{ p.ammount }} {{ p.position.good.masure }}</td>
                     <td>{{ p.ammount|multiply:p.position.cost  }} руб</td>
                   </tr>
               {% endfor %}
               <tr>
                  <th>Итого</th>
                  <th></th>
                  <th></th>
                  <th>{{ all }} руб</th>
              </tr>
            </table>
<p></p>
      <h2>Информация о покупателе</h2>
            <table width="100%" class="table_style">

                   <tr>
                     <td>ФИО</td>
                     <td>{{ o.name }}</td>
                   </tr>

                   <tr>
                     <td>Email</td>
                     <td>{{ o.email }}</td>
                   </tr>

                   <tr>
                     <td>Телефон</td>
                     <td>{{ o.phone }}</td>
                   </tr>

                   <tr>
                     <td>Город</td>
                     <td>{{ o.city }}</td>
                   </tr>

                   <tr>
                     <td>Адресс</td>
                     <td>{{ o.address }}</td>
                   </tr>

                   <tr>
                     <td>Примечание</td>
                     <td>{{ o.description }}</td>
                   </tr>




            </table>
<p></p>
     <div style="text-align: center; font-size: 20px">
     <a href="{% url 'order_confirm' o.id %}">Подтвердить заказ</a>
     <a href="{% url 'order_delete' o.id %}">Удалить заказ</a>
</div>


{% endblock %}
