{% extends "two_columns.html" %}



{% block meta_title %}
  Регистрация нового пользователя
{% endblock %}

{% block meta_keyword %}
  Регистрация нового пользователя
{% endblock %}

{% block meta_description %}
  Регистрация нового пользователя
{% endblock %}


{% block page_title %}Регистрация нового пользователя{% endblock %}
{% block page_slogan %}{% endblock %}




{% block main_content %}
    <div class="et-box et-shadow" align="center" style="padding: 20px">
<form method="post" action="." class="form_class">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="Зарегистрироваться" />
</form>
{% endblock %}
</div>