{% extends "two_columns.html" %}
{% load staticfiles %}

{% block meta_title %}
  {{ page.seo_title }}
{% endblock %}

{% block meta_keyword %}
  {{ page.seo_keyword }}
{% endblock %}

{% block meta_description %}
  {{ page.seo_description }}
{% endblock %}


{% block page_title %}{{ page.title }}{% endblock %}
{% block page_slogan %}{{ page.short_content }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'home' %}">Главная</a>
        <span class="raquo">»</span>
           {{ page.title }}
{% endblock %}


{% block main_content %}

{{ page.content | safe }}

{% endblock %}