{% extends "base.html" %}
{% load staticfiles %}
{% load right_sidebar %}
{% block base_content %}



    <div id="top-area">
		<div id="top-area-bg">
			<div id="bottom-area-bg">
				<div class="container">
					<div id="category-inner">
                      <h1 class="category-title">404</h1>
                        <p class="description">
                           Ой, наверно эта страница была удалена или вы ошиблись! Поробуйте начать с домашней страницы.
                        </p>
                    </div> <!-- end .container -->
                </div> <!-- end #featured -->
			</div> <!-- end #bottom-area-bg -->
		</div> <!-- end #top-area-bg -->
	</div> <!-- end #top-area -->

     <div id="main-content-area" class="container">





          <div id="main-content">


          <div id="fb-root"style="clear: both"></div>
          </div>
    </div>
{% endblock %}