{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block base_content %}



	<div id="top-area">
		<div id="top-area-bg">
			<div id="bottom-area-bg">
				<div class="container">
					<div id="featured">
                    <a id="left-arrow" href="http://xn----7sbadopoap4a1bx6d4c8b.xn--p1ai/#" style="display: none;">Пред.</a>
                    <a id="right-arrow" href="http://xn----7sbadopoap4a1bx6d4c8b.xn--p1ai/#" style="display: none;">След.</a>

                    <div id="slides" style="background-image: none;">
                                            <div class="slide" style="display: block;">

                                <div class="featured-image">
                                   <img src=" {% static 'pic/IMG_5286-231437_380x230.jpg' %}" />
                                <div class="featured-bg"></div>
                                                    </div> <!-- end .featured-image -->
                                <div class="featured-description">
                                      <h1 ><a style="color: #ffffff" href="{% url 'about_us' %}">O нас</a></h1>
                                    <p>Ферма «Усадьба Княжичи» — семейное фермерское хозяйство расположенное в 450 км от Москвы, на границе Калужской и Брянской областей, на берегу живописного озера.</p>

                                </div> <!-- end .description -->
                            </div> <!-- end .slide -->
                            </div> <!-- end #slides -->

                    <div id="controllers"></div>
                </div> <!-- end #featured -->				</div> <!-- end .container -->
			</div> <!-- end #bottom-area-bg -->
		</div> <!-- end #top-area-bg -->
	</div> <!-- end #top-area -->


    <div id="main-content-area" class="container">
        <h3 id="special-offers" class="offer-title" style="white-space: nowrap">
        <span>Каждый четверг мы доставляем продукты с фермы в Москву. Готовы поделиться!</span>
        </h3>


    <div id="special-items" class="clearfix" style="width: 850px">
         {% for c in categories %}

         <div class="special-item">
              {% thumbnail c.image "137x137" format='PNG' as im  %}
                 <a href="{{ c.get_absolute_url }}">
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="left" title="{{ c.name }}" style="padding: 10px">
                 </a>
                  <h4 class="title">
                  {{ c.name }}
                  </h4>
              {% endthumbnail %}


        </div>

     {% endfor %}


    </div>


    <div id="main-content">
        <div id="main-content-bg">
            <div id="main-content-bottom-bg" class="clearfix">
                    <div id="left-area">
                    <h3 id="recent-products" class="offer-title" style="white-space: nowrap">
                    <span>Готовим вместе: Рецепты ваши, продукты наши!</span>
                    </h3>
                        <div id="main-products" class="clearfix">

                            {% for r in recepies %}
                               <div class="recdiv" >
                                 {% thumbnail r.image "213x160" as im  %}
                                     <a title="{{ r.title }}" href="{{  r.get_absolute_url }}">
                                      <img alt="{{ r.title }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="left" title="{{ c.name }}" style="padding: 10px">
                                     </a>

                                 {% endthumbnail %}

                               </div>

                            {% endfor %}

                        </div>
                    </div>
             </div>
         </div
    </div



{% endblock %}
