{% extends "base.html" %}
{% load staticfiles %}
{% load right_sidebar %}
{% block base_content %}



    <div id="top-area">
		<div id="top-area-bg">
			<div id="bottom-area-bg">
				<div class="container">
					<div id="category-inner">
                      <h1 class="category-title">{% block page_title %}{% endblock %}</h1>
                        <p class="description">
                           {% block page_slogan %}{% endblock %}
                        </p>
                    </div> <!-- end .container -->
                </div> <!-- end #featured -->
			</div> <!-- end #bottom-area-bg -->
		</div> <!-- end #top-area-bg -->
	</div> <!-- end #top-area -->

     <div id="main-content-area" class="container">


        <div id="breadcrumbs">
            {% block breadcrumbs %}{% endblock %}
        </div>


          <div id="main-content">

                <table>
                    <tr>
                        <td width="700" valign="top" style="padding-right: 20px">
                            {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                </li>
                            {% endfor %}
                            </ul>
                           {% endif %}

                            {% block main_content %}
                            {% endblock %}
                        </td>

                        <td  valign="top">
                             {% show_sidebar %}

                            <h3>Наши партнеры</h3>
                            <a target="_blank" href="http://breadmenu.ru">
                            <img title="Пекарня «Хлебное Меню»" alt="Хлебное Меню" src="{% static 'img/breadmenu.png' %}">
                            </a>



                            <p></p><p></p>
                            <h3>Мы в соц. сетях</h3>
                            <ul>
						    <li style="display: inline-block; margin-right: 10px"><a href='http://www.facebook.com/SocialSlider' title='Facebook' style='color: #666;' target='_self' rel='nofollow'>
                                <img src='{% static 'images/icons/facebook-32.png' %}' alt='Facebook' />
                            </a>
                            </li>

                            <li style="display: inline-block; margin-right: 10px">
                                <a href='https://plus.google.com/103712950076160888440' title='Google+' style='color: #666;' target='_self' rel='nofollow'>
                                    <img src='{% static 'images/icons/googleplus-32.png' %}' alt='Google+' />
                                </a>
                            </li>

                            <li style="display: inline-block; margin-right: 10px">
                                <a href='https://twitter.com/knyagichi' title='Twitter' style='color: #666;' target='_self' rel='nofollow'>
                                    <img src='{% static 'images/icons/twitter-32.png' %}' alt='Twitter' />
                                </a>
                            </li>

                            <li style="display: inline-block; margin-right: 10px"><a href='http://vk.com/club45342527' title='Вконтакте' style='color: #666;' target='_self' rel='nofollow'>
                                <img src='{% static 'images/icons/buzz-32.png' %}' alt='Вконтакте' />
                                </a>
                            </li>
                            </ul>

                <script type="text/javascript" src="//vk.com/js/api/openapi.js?78"></script>
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 1, width: "260", height: "290"}, 45342527);
</script>

<p></p>
<div class="g-plus" data-width="260" data-href="https://plus.google.com/103712950076160888440?rel=publisher"></div>
<script type="text/javascript">
  window.___gcfg = {lang: 'ru'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<p></p><p></p>
                <div id='socialslider-widget' class='socialslider-grupa' style='width: 180px; height: auto;'><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like-box" data-href="http://www.facebook.com/knyazhichi" data-width="260" data-height="98" data-show-faces="false" data-stream="true" data-border-color="dbdbdb" data-header="true"></div>


                    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 5,
  interval: 30000,
  width: 260,
  height: 'auto',
  theme: {
    shell: {
      background: '#dbdbdb',
      color: '#000000'
    },
    tweets: {
      background: '#fafafa',
      color: '#000000',
      links: '#00b6f3'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('knyagichi').start();
</script></div>
                


			</div>

                        </td>
                    </tr>
                </table>
          <div id="fb-root"style="clear: both"></div>
          </div>
    </div>
{% endblock %}