{% extends "two_columns.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block meta_title %}
  Новости | {{ item.title }}
{% endblock %}

{% block meta_keyword %}
  Новости | {{ item.title }}
{% endblock %}

{% block meta_description %}
  Новости | {{ item.title }}
{% endblock %}


{% block page_title %}{{ item.title }}{% endblock %}
{% block page_slogan %}{% endblock %}

{% block breadcrumbs %}
     <a href="{% url 'home' %}">Главная</a>
        <span class="raquo">»</span>
           <a href="{% url 'recipes_list' %}"> Рецепты </a> <span class="raquo">»</span> {{ item.title }}
{% endblock %}


{% block main_content %}



                {% thumbnail item.image "280x280" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="left" style="padding: 10px">
                {% endthumbnail %}

            {{ item.desc | safe }}

            <p><b>Время приготовления:</b> {{ item.time }}</p>
             <p>{{ item.authors|safe }}</p>


    <div style="clear: both"></div>

    <h3>Инградиенты</h3>
    <div class="et-box et-shadow">
       <div class="et-box-content">
          {{ item.ingradients|safe }}
       </div>
    </div>


     {% for s in item.recipessteps_set.all %}
       <div class="rstep">
                {% thumbnail s.image "240x240" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="left" style="padding: 10px">
                {% endthumbnail %}
            <p><b>{{ s.title }}</b></p>
           {{ s.desc }}
       </div>
             <div style="clear: both"></div>

    {% endfor %}


    {% for com in comments %}
       <p>
           {{ com.author }}
           {{ com.comment }}
       </p>
    {% endfor %}

    {% if alert %}
       <h1 style="color: red"> {{ alert }} </h1>
    {% endif %}

    <h1>Оставить комментарий</h1>
    <form action="{% url 'recipes_item' item.pk %}" method="post">{% csrf_token %}
     {{ form.as_p }}
     <input type="submit" value="Сохранить" />
     </form>



{% endblock %}