{% extends "two_columns.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block meta_title %}
  Рецепты | Усадьба Княжичи
{% endblock %}

{% block meta_keyword %}
  Рецепты | Усадьба Княжичи
{% endblock %}

{% block meta_description %}
  Рецепты | Усадьба Княжичи
{% endblock %}



{% block page_title %}Рецепты{% endblock %}
{% block page_slogan %}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'home' %}">Главная</a>
        <span class="raquo">»</span>
           Рецепты
{% endblock %}


{% block main_content %}

          {% for n in object_list %}
              <div>

                {% thumbnail n.image "250x250" as im %}
                  <a href="{{  n.get_absolute_url }}">
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="left" style="padding: 10px">
                    </a>
                {% endthumbnail %}
              </div>

             <h2 class="title"><a href="{{  n.get_absolute_url }}"> {{ n.title }}</a></h2>
             {{ n.desc|safe }}
             <p><b>Время приготовления:</b> {{ n.time }}</p>


               <div id="fb-root"style="clear: both"></div>
           {% endfor %}


  {% if  is_paginated %}
    {% if  page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">назад</a> |
    {% endif %}
    страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
    {% if  page_obj.has_next %}|
      <a href="?page={{ page_obj.next_page_number }}">вперед</a>
    {% endif %}
  {% endif %}


{% endblock %}