{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block meta_title %}
  Рецепты | Усадьба Княжичи
{% endblock %}

{% block meta_keyword %}
  Рецепты | Усадьба Княжичи
{% endblock %}

{% block meta_description %}
  Рецепты | Усадьба Княжичи
{% endblock %}

{% block base_content %}



	<div id="top-area">
		<div id="top-area-bg">
			<div id="bottom-area-bg">
				<div class="container">
					<div id="category-inner">
                      <h1 class="category-title">Рецепты</h1>
                        <p class="description">
                           Кулинарные шедевры наших друзей и партнеров, созданные из продуктов нашей фермы. Наш девиз: ПРОСТО.ВКУСНО. У Вас есть любимое блюдо? Мы бесплатно предоставим Вам свои продукты для его создания и с удовольствием попробуем вместе. Дерзайте!
                        </p>
                    </div> <!-- end .container -->
                </div> <!-- end #featured -->
			</div> <!-- end #bottom-area-bg -->
		</div> <!-- end #top-area-bg -->
	</div> <!-- end #top-area -->


    <div id="main-content-area" class="container">
        <div id="breadcrumbs">
        <a href="{% url 'home' %}">Главная</a>
        <span class="raquo">»</span>
           Рецепты
        </div>
        <div id="main-content">

          {% for n in items %}
              <div>
                <h2 class="title"><a href="{{  n.get_absolute_url }}"> {{ n.title }}</a></h2>
                {% thumbnail n.image "140x140" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="left" style="padding: 10px">
                {% endthumbnail %}
              </div>


             {{ n.desc }}

               <div id="fb-root"style="clear: both"></div>
           {% endfor %}

         <div id="fb-root"style="clear: both"></div>


         </div>
    </div>





{% endblock %}