{% extends "two_columns.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block meta_title %}
  Новости | {{ item.title }}
{% endblock %}

{% block meta_keyword %}
  Новости | {{ item.title }}
{% endblock %}

{% block meta_description %}
  Новости | {{ item.title }}
{% endblock %}


{% block page_title %}{{ item.title }}{% endblock %}
{% block page_slogan %}{% endblock %}

{% block breadcrumbs %}
     <a href="{% url 'home' %}">Главная</a>
        <span class="raquo">»</span>
          <a href="{% url 'news_list' %}"> Новости </a> <span class="raquo">»</span> {{ item.title }}
{% endblock %}


{% block main_content %}



                {% thumbnail item.image "240x240" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="left" style="padding: 10px">
                {% endthumbnail %}

            {{ item.content | safe }}

{% endblock %}