{% extends "two_columns.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block meta_title %}
  Новости | Усадьба Княжичи
{% endblock %}

{% block meta_keyword %}
  Новости | Усадьба Княжичи
{% endblock %}

{% block meta_description %}
  Новости | Усадьба Княжичи
{% endblock %}


{% block page_title %}Новости{% endblock %}
{% block page_slogan %} что нового у нас на ферме{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'home' %}">Главная</a>
        <span class="raquo">»</span>
           Новости
{% endblock %}


{% block main_content %}


          {% for n in object_list %}
              <div>


                {% thumbnail n.image "250x250" as im %}
                     <div style="width: 255px; height: 255px; float: left; margin-right: 10px">
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="left" style="padding: 10px">
                    </div>
                {% endthumbnail %}

              <h2 class="title"><a href="{{  n.get_absolute_url }}"> {{ n.title }}</a></h2>

              </div>


             {{ n.desc }}
            <div id="fb-root"style="clear: both"></div>

           {% endfor %}

      <p></p>

          {% if  is_paginated %}
            {% if  page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">назад</a> |
            {% endif %}
            страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            {% if  page_obj.has_next %}|
              <a href="?page={{ page_obj.next_page_number }}">вперед</a>
            {% endif %}
          {% endif %}

{% endblock %}