{% extends "two_columns.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block meta_title %}
  Отзывы
{% endblock %}

{% block meta_keyword %}
  Отзывы
{% endblock %}

{% block meta_description %}
  Отзывы
{% endblock %}


{% block page_title %}{{ testimonials.title }}{% endblock %}
{% block page_slogan %}{% endblock %}

{% block breadcrumbs %}
     <a href="{% url 'home' %}">Главная</a>
        <span class="raquo">»</span>
    <a href="{% url 'testimonials_list' %}">Отзывы</a>
         <span class="raquo">»</span> {{ testimonials.title }}
{% endblock %}


{% block main_content %}


            {{ testimonials.content | safe }}

{% endblock %}